/* #172337 */
/* border-left: 1px solid #454d5e;
    padding: 0 25px; */
    /* text-shadow: 0 1px 0 #ffe093; */
footer {
  height: 270px;
  background-color: #172337;
}
.tFooter .uA{
    position: relative;
    font-size: 2rem;
    top: 2px;
    right: -5px;
}
.tFooter {
  height: 50px;
  background-color: #37475A;
  color: #fff;
 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
}
.tFooter:hover{
    background-color: #232d3d;
   
}
.td{
    text-decoration: none;
}
.bFooter {
  height: 60px;
  background-color: #172337;
  margin-top: 1px;
}
.b-left{
    border-left: 1px solid #454d5e;
   
   
}
.rowLinks .i1,.i2,.i3{
    position: relative;
    top: 4px;
    font-size: 2.5rem;
    
   
    left: -4px;
}
.rowLinks .i1{
    color: rgb(192, 75, 95);
    font-size: 2.5rem;
    

}
.rowLinks .i3{
   
    font-size: 2.5rem;
    

}
.rowLinks .i2{
    color: rgb(136, 136, 189);
    font-size: 2.5rem;

}

.Bft a ,.Bft span{
    color: #fff;
    font-size: 1.4rem;
    padding-left: 1rem;
    text-decoration: none;
}

.bCont{
    justify-content: space-between;
    padding: 2rem;
    
}
.bb{
    position: relative;
    top: 3px;
    color: rgb(255, 166, 0);
    font-size: 7px;
}
.rowLinks .i3{
    color: rgb(228, 52, 52);

}
.p-l{
    padding-left: 2rem;
}
footer .fHeading {
  color: #878787;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 1.2rem;
  display: inline-block;
  
}

.fContainer{
    display: flex;
   justify-content: space-around;
   padding-top: 4rem;
}

.rowLinks {
  text-decoration: none;
  display: block;

  
}
.rowLinks a {
    display: flex;
  color: #fff;
  text-decoration: none;
  line-height: 2;
  color: #fff;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  transition:  .2s ease-in;
}
.rowLinks a:hover{
    text-decoration: underline rosybrown;
  
}
.rowLinks p {
    display: flex;
  color: #fff;
  
  line-height: 2;
  color: #fff;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
}
.d2n{
    display: block;
}
@media(max-width:860px){
   
    .Bft img{
        display: none;
    }
    .bFooter{
        background: linear-gradient(-45deg, #172337, #232d3d, #37475A, #454d5e);

        background-size: 400% 400%;
        animation: change 10s ease-in-out infinite;
    }
    .bCont{
        padding: 3rem;
    }
    
}
@media(max-width: 675px){
    .d2n{
        display: none;
    }
     .bb{
        top: 1px;
       
    }

   .Bft a, .Bft span {
       
        padding-left: 0;
    }
    

}
@media(max-width:430px){
    .rowLinks a{
        font-size: 1.4rem;
    }
    .Bft{
        display: flex;
        justify-content: center;
       
    }
    .Bft a{
        padding-bottom: .5rem;
    }
    .bCont{
        display: flex;
        flex-direction: column;
    }
    .bFooter{
        height: 160px;
    }
    .Bft img{
        display: block;
        padding-top: 1rem;
        width: 250px;
    }
    .Bft a, .Bft span {
       
        padding-left: 2px;
    }
    

}
@media  (max-width:360px){
    .rowLinks a{
        font-size: 1rem;
    }
    

}
    
